/Temp/ProcessJobs/f943b11fd393dbcbb6ed2b9366a1c1c0.bakert
/Temp/UnityLockfile
/Temp/UnityTempFile-3d58fd392b0351640b5e143d5eee6658
/Temp/UnityTempFile-43dd1abae6f609c4ab47fdc26438117f
/Temp/UnityTempFile-af9797ec34a7ab041b01f6abca1d9eeb
/Temp/UnityTempFile-dc6b5797cb15001489a1e7ecc34c871d
/Temp/UnityVS_bin/Debug/Assembly-CSharp.dll
/Temp/UnityVS_bin/Debug/Assembly-CSharp.pdb
/Temp/UnityVS_bin/Debug/UnityEditor.dll
/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.Common.dll
/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.Common.xml
/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.Xcode.dll
/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.Xcode.xml
/Temp/UnityVS_bin/Debug/UnityEditor.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Analytics.dll
/Temp/UnityVS_bin/Debug/UnityEngine.Analytics.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Networking.dll
/Temp/UnityVS_bin/Debug/UnityEngine.Networking.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UI.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UI.xml
/Temp/UnityVS_bin/Debug/UnityEngine.dll
/Temp/UnityVS_bin/Debug/UnityEngine.xml
/Temp/UnityVS_obj/Debug/Apocalypse.CSharp.csproj.FileListAbsolute.txt
/Temp/UnityVS_obj/Debug/Apocalypse.CSharp.csprojResolveAssemblyReference.cache
/Temp/UnityVS_obj/Debug/Assembly-CSharp.dll
/Temp/UnityVS_obj/Debug/Assembly-CSharp.pdb
/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/Apocalypse/v14
